[submodule "Libs/Encoder"]
	path = Libs/Encoder
	url = https://github.com/Aborav/STM32_Library_Encoder.git
[submodule "Libs/INA226"]
	path = Libs/INA226
	url = https://github.com/Aborav/STM32_Library_INA226.git
[submodule "Libs/MGL"]
	path = Libs/MGL
	url = https://github.com/Aborav/STM32_Library_My_Graphic_Lib.git
[submodule "Libs/SignalFilter"]
	path = Libs/SignalFilter
	url = https://github.com/Aborav/STM32_Library_Signal_Filter.git
[submodule "Libs/FlashProm"]
	path = Libs/FlashProm
	url = https://github.com/Aborav/STM32_Library_FlashProm.git
